<!DOCTYPE html>
<html ng-app="RPGSupportApp">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<base href="http://localhost:54824/">*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li><a href="#!/users">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="user.isAuthenticated">
                    <li>
                        <a href="">{{user.username}}</a>
                    </li>
                    <li>
                        <a href="#!/logout">Logout</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-hide="user.isAuthenticated">
                    <li>
                        <a href="#!/register">Register</a>
                    </li>
                    <li>
                        <a href="#!/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="container">
            <h3 ng-show="title" ng-bind-html="title"></h3>
            <div class="message" ng-bind-html="message"></div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/libs/angular.min.js"></script>
    <script src="~/Scripts/libs/angular-route.min.js"></script>
    <script src="~/Scripts/libs/angular-cookies.min.js"></script>
    <script src="~/Scripts/libs/angular-messages.js"></script>
    <script src="~/Scripts/libs/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>


    @*MODULES*@
   
    @*APP*@
    <script src="~/Scripts/Angular/app.js"></script>


    @*CONTROLLERS*@
    <script src="~/Scripts/Angular/Controllers/MainController.js"></script>
    <script src="~/Scripts/Angular/Controllers/UsersController.js"></script>
    <script src="~/Scripts/Angular/Controllers/RegisterController.js"></script>
    <script src="~/Scripts/Angular/Controllers/LoginController.js"></script>
    <script src="~/Scripts/Angular/Controllers/LogoutController.js"></script>

    @*SERVICES*@
    <script src="~/Scripts/Angular/Services/AuthService.js"></script>

    @*DIRECTIVES*@
    <script src="~/Scripts/Angular/Directives/equalsDirective.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
